.main-content__title {
    font-family: 'PT Serif', serif;
    font-style: normal;
    font-weight: bold;
}

.menu__item,
.main-content__subtitle,
.main-content__button {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
}

.body {
    margin: 0;
}

.wrapper {
    margin: auto;
    width: 80%;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    padding: 40px 0 40px 44px;
    font: bold 24px/31px pt_serifbold, arial, helvetica, sans-serif;
    position: relative;
}

.logo__circle {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 28px;
    height: 28px;
    border-radius: 50%;
    opacity: .7;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.logo__circle_color_dark-blue {
    background: #0056EC;
}

.logo__circle_color_blue {
    left: 8px;
    top: 56%;
    background: #C8DBFB;
}

.menu {
    display: flex;
    align-items: center;
}

.menu__item {
    padding: 0 13px;
}

.menu__item:last-child {
    padding-right: 0;
}

.main-section {
    display: flex;
    margin: 200px 0 0;
}

.main-content__title {
    margin: 0 0 40px;
}

.main-content__subtitle {
    margin: 0 0 41px;
}