.logo,
.main-content__title {
    font-family: 'PT Serif', serif;
    font-style: normal;
    font-weight: bold;
}

.menu__item,
.main-content__subtitle,
.main-content__button {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
}

.body {
    margin: 0;
}

.wrapper {
    margin: auto;
    width: 80%;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    padding: 40px 0;
}

.menu {
    display: flex;
    align-items: center;
}

.menu__item {
    padding: 0 13px;
}

.menu__item:last-child {
    padding-right: 0;
}