.body {
    margin: 0;
}

.wrapper {
    margin: 0 201px 0 195px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 124px;
}

.logo {
    padding: 39px 0 40px 45px;
    font: 700 24px/32px pt_serifbold, arial, helvetica, sans-serif;
    position: relative;
}

.logo__circle {
    position: absolute;
    left: 1px;
    top: 49%;
    transform: translateY(-50%);
    width: 28px;
    height: 28px;
    border-radius: 50%;
    opacity: 0.7;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.logo__circle_color_dark-blue {
    background: #0056EC;
}

.logo__circle_color_blue {
    left: 8px;
    top: 54%;
    background: #C8DBFB;
}

#menu__toggle {
    display: none;
}

.menu {
    display: flex;
    align-items: center;
}

.menu__item {
    position: relative;
    margin-right: 28px;
    padding-top: 5px;
    font: 500 18px/21px robotoregular, arial, helvetica, sans-serif;
    color: #000;
    text-decoration: none;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
}

.menu__item:nth-child(2) {
    margin-right: 25px;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__item::after {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    height: 3px;
    width: 0;
    background: #0056EC;
    opacity: 0;
    transition: opacity 0.5s, width 0.5s;
    -webkit-transition: opacity 0.5s, width 0.5s;
    -moz-transition: opacity 0.5s, width 0.5s;
    -ms-transition: opacity 0.5s, width 0.5s;
    -o-transition: opacity 0.5s, width 0.5s;
}

.menu__item:hover {
    opacity: 0.7;
}

.menu__item:hover::after,
.menu__item_active::after {
    opacity: 1;
    width: 100%;
}

.main {
    padding: 80px 62% 145px 0;
    background: center right no-repeat url(../img/mainImgMax.svg);
    margin-bottom: 104px;
}

.main__title {
    margin: 0 0 33px;
    font: 700 66px/88px pt_serifbold, arial, helvetica, sans-serif;
}

.main__title-text_highlights {
    background: #ECF3FF;
}

.main__subtitle {
    margin-bottom: 42px;
    width: 455px;
    font: 500 22px/26px robotoregular, arial, helvetica, sans-serif;
}

.main__button {
    display: inline-block;
    font: 500 18px/21px robotoregular, arial, helvetica, sans-serif;
    color: #FFF;
    background: #0056EC;
    padding: 18px 21px;
    width: 230px;
    text-decoration: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
}

.main__button:hover {
    opacity: 0.7;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.footer__cicle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    opacity: 0.7;
    background: #C8DBFB;
    margin-right: 4px;
}

.footer__cicle:first-child {
    margin-left: 5px;
}

.footer__cicle:last-child {
    margin-right: 0;
}

@media (max-width: 1750px) {
    .wrapper {
        margin: 0 auto;
        width: 80%;
    }

    .main {
        padding-top: 115px;
    }

    .main__title {
        font-size: 58px;
        line-height: 76px;
    }

    .main__subtitle {
        width: 400px;
        font-size: 20px;
        line-height: 23px;
    }
    
    .main__button {
        font-size: 16px;
        line-height: 19px;
        padding: 17px 20px;
        width: 200px;
    }
}

@media (max-width: 1490px) {
    .wrapper {
        margin: 0 218px;
        width: 68%;
    }

    .header {
        margin-bottom: 85px;
    }

    .menu__item {
        padding-top: 7px;
        font-size: 14px;
        line-height: 16px;
    }

    .menu__item:first-child {
        margin-right: 25px;
    }

    .menu__item:last-child {
        margin-right: 3px;
    }

    .main {
        padding: 0 42% 126px 0;
        margin-bottom: 0px;
        background-size: 55%;
        background-position: top right;
    }

    .main__title {
        padding-top: 16px;
        margin-bottom: 40px;
        width: 400px;
        font-size: 50px;
        line-height: 65px;
    }

    .main__subtitle {
        width: 360px;
        margin-bottom: 42px;
        font-size: 18px;
        line-height: 21px;
    }
    
    .main__button {
        font-size: 14px;
        line-height: 16px;
        padding: 14px 17px;
        width: 175px;
    }

    .footer__cicle:first-child {
        margin-left: 2px;
    }
}

@media (max-width: 1300px) {
    .wrapper {
        margin: 0 46px;
        width: 91%;
    }

    .menu__item:last-child {
        margin-right: 0px;
    }

    .main {
        padding: 0 42% 126px 0;
        background-size: 50%;
    }
}

@media (max-width: 1150px) {
    .main {
        background-size: 55%;
    }
}

@media (max-width: 1000px) {
    .wrapper {
        margin: 0 auto;
        width: 80%;
    }

    .header {
        margin-bottom: 70px;
    }

    .menu__item:last-child {
        margin-right: 0;
    }

    .main {
        padding: 0 40% 0 0;
        margin-bottom: 30px;
        background-size: 50%;
    }

    .main__title {
        padding-top: 0px;
        width: 320px;
        font-size: 40px;
        line-height: 55px;
    }

    .main__subtitle {
        width: 320px;
        font-size: 16px;
        line-height: 19px;
    }
}

@media (max-width: 768px) {
    .wrapper {
        width: 87%;
    }

    .logo {
        padding: 24px 0;
    }

    .logo__circle {
        left: 0;
        top: 47%;
    }

    .logo__circle_color_blue {
        left: 8px;
        top: 56%;
    }

    .logo__text {
        visibility: hidden;
    }

    #menu__toggle {
        display: block;
        opacity: 0;
    }
      
    #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
    }
    #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
    }
    #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu {
        visibility: visible;
        left: 0;
    }
    
    /*Сам бургер*/
    .menu__btn {
        display: flex;
        align-items: center;
        position: fixed;
        top: 28px;
        right: 24px;
        width: 25px;
        height: 25px;
        cursor: pointer;
        z-index: 1;
    }

    /*Стили полосок бургера*/
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #0056EC;        
        transition-duration: .25s;
    }

    .menu__btn > span::before {
        content: '';
        top: -7px;
    }

    .menu__btn > span::after {
        content: '';
        top: 7px;
    }
    
    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        visibility: hidden;
        left: -100%;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 186px 0;        
        background-color: #FFFFFF;        
        transition-duration: .5s;
    }

    .menu__item_active::after {
        opacity: 0;
        width: 0;
    }
    
    .menu__item {
        margin: 0 0 25px;
        padding: 0;
        font-size: 30px;
        line-height: 35px;
    }

    .menu__item:first-child {
        margin-right: 0;
    }

    .menu__item:nth-child(2) {
        margin-right: 0;
    }

    .menu__item:nth-child(3) {
        margin-right: 5px;
    }

    .menu__item:nth-child(4) {
        margin-right: 5px;
    }

    .menu__item:last-child {
        margin-right: 5px;
        margin-bottom: 0;
    }

    .header {
        margin-bottom: 8px;
    }

    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 74% 0 0;
        background-size: 85%;
        background-position: top center;
        text-align: center;
    }

    .main__title {
        padding-left: 5px;
        padding-top: 20px;
        margin-bottom: 32px;
        font-size: 30px;
        line-height: 39px;
        width: 267px;
    }

    .main__subtitle {
        margin-bottom: 25px;
        width: 252px;
        padding-left: 3px;
    }

    .main__button {
        padding: 14px 22px 14px 11px;
    }

    .footer {
        display: none;
    }
}