.body {
    margin: 0;
}

.wrapper {
    margin: 0 201px 0 195px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 124px;
}

.logo {
    padding: 39px 0 40px 45px;
    font: 700 24px/32px pt_serifbold, arial, helvetica, sans-serif;
    position: relative;
}

.logo__circle {
    position: absolute;
    left: 1px;
    top: 49%;
    transform: translateY(-50%);
    width: 28px;
    height: 28px;
    border-radius: 50%;
    opacity: 0.7;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.logo__circle_color_dark-blue {
    background: #0056EC;
}

.logo__circle_color_blue {
    left: 8px;
    top: 54%;
    background: #C8DBFB;
}

.menu {
    display: flex;
    align-items: center;
}

.menu__item {
    position: relative;
    margin-right: 28px;
    padding-top: 5px;
    font: 500 18px/21px robotoregular, arial, helvetica, sans-serif;
    color: #000;
    text-decoration: none;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
}

.menu__item:nth-child(2) {
    margin-right: 25px;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__item::after {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    height: 3px;
    width: 0;
    background: #0056EC;
    opacity: 0;
    transition: opacity 0.5s, width 0.5s;
    -webkit-transition: opacity 0.5s, width 0.5s;
    -moz-transition: opacity 0.5s, width 0.5s;
    -ms-transition: opacity 0.5s, width 0.5s;
    -o-transition: opacity 0.5s, width 0.5s;
}

.menu__item:hover {
    opacity: 0.7;
}

.menu__item:hover::after,
.menu__item_active::after {
    opacity: 1;
    width: 100%;
}

.main {
    padding: 80px 62% 145px 0;
    background: center right no-repeat url(../img/mainImgMax.svg);
    margin-bottom: 104px;
}

.main__title {
    margin: 0 0 33px;
    font: 700 66px/88px pt_serifbold, arial, helvetica, sans-serif;
}

.main__title-text_highlights {
    background: #ECF3FF;
}

.main__subtitle {
    margin: 0 0 42px;
    width: 455px;
    font: 500 22px/26px robotoregular, arial, helvetica, sans-serif;
}

.main__button {
    display: inline-block;
    font: 500 18px/21px robotoregular, arial, helvetica, sans-serif;
    color: #FFF;
    background: #0056EC;
    padding: 18px 21px;
    width: 230px;
    text-decoration: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
}

.main__button:hover {
    opacity: 0.7;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.footer__cicle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    opacity: 0.7;
    background: #C8DBFB;
    margin-right: 4px;
}

.footer__cicle:first-child {
    margin-left: 5px;
}

.footer__cicle:last-child {
    margin-right: 0;
}

@media (max-width: 1750px) {
    .wrapper {
        margin: 0 auto;
        width: 80%;
    }

    .main {
        padding-top: 115px;
    }

    .main__title {
        font-size: 58px;
        line-height: 76px;
    }

    .main__subtitle {
        width: 400px;
        font-size: 20px;
        line-height: 23px;
    }
    
    .main__button {
        font-size: 16px;
        line-height: 19px;
        padding: 17px 20px;
        width: 200px;
    }
}

@media (max-width: 1490px) {
    .wrapper {
        margin: 0 218px;
        width: 68%;
    }

    .header {
        margin-bottom: 85px;
    }

    .menu__item {
        padding-top: 7px;
        font-size: 14px;
        line-height: 16px;
    }

    .menu__item:first-child {
        margin-right: 25px;
    }

    .menu__item:last-child {
        margin-right: 3px;
    }

    .main {
        padding: 0 42% 87px 0;
        background: top right no-repeat url(../img/mainImgMedium.svg);
        margin-bottom: 40px;
    }

    .main__title {
        padding-top: 16px;
        margin-bottom: 40px;
        width: 400px;
        font-size: 50px;
        line-height: 65px;
    }

    .main__subtitle {
        width: 360px;
        margin-bottom: 42px;
        font-size: 18px;
        line-height: 21px;
    }
    
    .main__button {
        font-size: 14px;
        line-height: 16px;
        padding: 14px 17px;
        width: 176px;
    }

    .footer__cicle:first-child {
        margin-left: 2px;
    }
}

@media (max-width: 1300px) {
    .wrapper {
        margin: 0 46px;
        width: 91%;
    }

    .menu__item:last-child {
        margin-right: 0px;
    }
}